#er-tab-slide-out-grid-container {
  grid-template-columns: auto auto;
  display: none;
}

.er-tab-slide-out-grid-item {
  width: 80px;
  height: 80px;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
